/* CSS Document */ :root {
  --primaryColor: #4d004d; /*ROSA ESCURO*/
  --secondaryColor: #349400; /*VERDE ESCURO*/
  --tertiaryColor: #990199; /*ROSA MAIS CLARO*/
  --supportColor1: #e602e6; /*ROSA CLARO*/
  --supportColor2: #48c902; /*VERDE CLARO*/
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  color: black;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
a:active, a:hover {
  outline: 0;
}
a {
  text-decoration: none;
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
@font-face {
  font-family: 'sun_seedregular';
  src: url("sun-seed-webfont.woff2") format('woff2'), url("sun-seed-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
/*Estilos da Navbar*/
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
.nav-collapse li {
  width: 100%;
  display: block;
}
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}
.nav-collapse.opened {
  max-height: 9999px;
}
.disable-pointer-events {
  pointer-events: none !important;
}
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/*Controlando a responsividade para telas menores*/
@media screen and (min-width: 58em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}
section {
  width: 100%;
  height: 100vh;
  padding: 5.5rem 1rem 0;
  border-bottom: solid 2px white;
}
header {
  background-color: white;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: solid 2px var(--primaryColor);
}
@media screen and (min-width: 58em) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.logo {
  text-decoration: none;
  font: bold 2rem "Sun Seed";
  line-height: 45px;
  padding: 0 20px;
  color: var(--tertiaryColor);
}
.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0, 0, 0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.android .mask {
  -webkit-transition: none;
  transition: none;
}
.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 58em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}
/*Estilos dos objetos da navegação*/
.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.nav-collapse, .nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-collapse, .nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}
@media screen and (min-width: 58em) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}
.nav-collapse li {
  float: left;
  width: 100%;
}
@media screen and (min-width: 58em) {
  .nav-collapse li {
    width: auto;
  }
}
.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-top: 1px solid var(--tertiaryColor);
  ;
  text-decoration: none;
  background: white;
  padding: 0.7em 1em;
  font-weight: 700;
  border-left: solid 2px var(--primaryColor);
  color: var(--tertiaryColor);
  width: 100%;
  float: left;
  font-size: 1.5rem;
  height: 45px;
  display: flex;
  align-items: center;
}
.nav-collapse a:active, .nav-collapse .active a {
  background-color: var(--primaryColor);
  color: white;
}
@media screen and (min-width: 58em) {
  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }
}
.nav-collapse ul ul a {
  background: var(--primaryColor);
  padding-left: 2em;
}
@media screen and (min-width: 58em) {
  .nav-collapse ul ul a {
    display: none;
  }
}
/*Estilo dos objetos de navegação quando ativos*/
.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 45px;
  float: right;
  align-items: center;
}
.nav-toggle:before {
  color: var(--tertiaryColor); /*Cor do ícone*/
  font: normal 40px/55px "Sun Seed"; /*Editar o primeiro número muda o tamanho do ícone*/
  text-transform: none;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: -5px;
}
.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}
footer {
  width: 100%;
  height: 15rem;
  color: white;
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: column;
}
footer > div {
  border: solid 1px white;
  width: 100%;
  color: white;
}
.contatos {
  height: 7rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.contatos > span {
  color: white;
  font-size: 2rem;
}
.sociais {
  color: white;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.copy {
  color: white;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}