/* CSS Document */ :root {
  --primaryColor: #4d004d; /*ROSA ESCURO*/
  --secondaryColor: #349400; /*VERDE ESCURO*/
  --tertiaryColor: #990199; /*ROSA MAIS CLARO*/
  --supportColor1: #e602e6; /*ROSA CLARO*/
  --supportColor2: #48c902; /*VERDE CLARO*/
}
.sessao1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../images/chalkboarddarkpink.png");
}
h1 {
  font-size: 4rem;
  color: inherit;
}
p {
  font-size: 2rem;
  margin: 0;
  color: inherit;
}
.textoS1 {
  max-width: 50rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 0;
}
.sessao1 > img {
  object-fit: cover;
  width: 100vw;
  height: 100vw;
  max-width: 40rem;
  max-height: 40rem;
  border-radius: 100%;
}
.sessao2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/chalkboardgreen.png");
}
.textoS2 {
  color: white;
  width: 100%;
  max-width: 70rem;
}
.sessao2 > h2 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  width: 80%;
}
@media screen and (min-width: 58em) {
  .sessao2 > h2 {
    font-size: 2rem;
  }
}
.contCentro {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.textoS2 > h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: inherit;
}
.textoS2 > p {
  font-size: 1.5rem;
  color: inherit;
  margin-top: 2rem;
}
.container {
  margin-left: 1rem;
  width: 100%;
  max-width: 70rem;
  overflow: hidden;
}
.container .wrapper {
  width: 100%;
  height: 100%;
}
.wrapper img {
  width: 100%;
  height: 100%;
}