/* CSS Document */
:root {
  --primaryColor: #4d004d;
  /*ROSA ESCURO*/
  --secondaryColor: #349400;
  /*VERDE ESCURO*/
  --tertiaryColor: #990199;
  /*ROSA MAIS CLARO*/
  --supportColor1: #e602e6;
  /*ROSA CLARO*/
  --supportColor2: #48c902;
  /*VERDE CLARO*/
}
.sessao1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--primaryColor);
  margin-bottom: 10rem;
}
table {
  background-color: var(--primaryColor);
  border-collapse: collapse;
}
tr{
  border-bottom: solid 2px white;
}
th {
  color: white;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}
td {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
.edit {
  padding:0.5rem;
  padding-left: 1rem;
  cursor: pointer;
  transition: ease 0.3s;
  border-left: solid 2px white;
}
.delete {
  padding: 0.5rem;
  cursor: pointer;
  transition: ease 0.3s;
  background-color: darkred;
  border-left: solid 2px white;
}
td>a>img {
  width: 32px;
  height: 32px;
}
.delete:hover {
  transform: scale(1.05)
}
.edit:hover {
  transform: scale(1.05)
}
