<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Editar Aluno</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/EditarAluno.css">
</head>

<body>
    <nav>
        <a th:href="@{/}"></a>
        <a class="navbar-brand text-light" th:href="@{/alunos}">Listagem de Alunos</a>
        <a class="navbar-brand text-light" th:href="@{/turmas}">Listagem de Turmas</a>
        <a class="navbar-brand text-light" th:href="@{/professores}">Listagem de Professores</a>
    </nav>

    <div class="titulo">
        <h2>Editar Aluno</h2>
    </div>

    <section>
        <form th:action="@{'/alunos/editar/' + ${alunos.alu_matricula}}" th:object="${alunos}" method="post">


            

            <div class="edit">
                <label for="alu_nome">Nome:</label><br>
                <input class="inputs" type="text" id="alu_nome" th:field="*{alu_nome}" />
            </div>

            <div>
                <label for="alu_telefone">Telefone:</label><br>
                <input class="inputs" type="text" id="alu_telefone" th:field="*{alu_telefone}" />
            </div>

            <div>
                <label for="alu_email">E-mail:</label><br>
                <input class="inputs" type="email" id="alu_email" th:field="*{alu_email}" />
            </div>



            <div>
                <label>Turmas:</label><br>
                <div th:each="turmas : ${turmas}">
                    <input type="checkbox" th:id="${'turmas-' + turmas.cod_turma}" th:name="cod_turma"
       th:value="${turmas.cod_turma}" th:checked="${alunos.turmas.contains(turmas)}" />
                    <label th:for="${'turmas-' + turmas.cod_turma}" th:text="${turmas.turma_tipo}"></label><br>
                </div>
            </div>

            <button type="submit" class="button-a">Salvar</button>
        </form>
    </section>

</body>

</html>
