<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>monitorando</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/css/estilos.css">
<link rel="stylesheet" href="/css/home.css">
<script src="/js/responsive-nav.js"></script> 
<script defer src="/js/app.js"></script>
<link rel="icon" href="/icons/icon-page.png" type="image/x-icon"/>
</head>
<body>
<header> <a href="index.html" class="logo" data-scroll><img class="logoimg" src="/icons/logo.png"><spam>onitorando</spam></a>
  <nav class="nav-collapse">
 <ul>
        <li class="menu-item active"><a href="index.html" data-scroll>Home</a></li>
        <li class="menu-item"><a href="monitorias.html" data-scroll>Monitorias</a></li>
        <li class="menu-item"><a href="tutor.html" data-scroll>Torne-se um Tutor</a></li>
        <li class="menu-item"><a href="quem.html" data-scroll>Quem Somos</a></li>
        <li class="menu-item"><a href="login.html" data-scroll>Login</a></li>
        <li class="menu-item"><a href="crud.html" data-scroll>ADM</a></li>
      </ul>
  </nav>
</header>
<section class="sessao1">
  <div class="textoS1 ani2">
    <h1>Monitores disponíveis para ajudar em qualquer dúvida que surgir</h1>
    <p>Conectamos monitores experiêntes em sua disciplina, com alunos que precisam de ajuda fora da sala de aula.</p>
  </div>
  <img class="ani2" src="/images/student1.jpg"> </section>
<section class="sessao2">
  <h2 class="ani2">Monitorias on-line sobre diversas disciplinas universitárias e técnicas. Dicas organizacionais para lidar melhor com a nova rotina ao iniciar uma graduação. Fórum onde os membros podem trocar experiências e informações.</h2>
  <div class="contCentro ani2">
    <div class="textoS2">
      <h3>Como particpar?</h3>
      <p>Basta se cadastrar, escolher se você é aluno ou monitor e começar imediatamente.</p>
      <h3>Tenho que pagar?</h3>
      <p>Estudantes de graduações ou cursos técnicos que estudaram todo o ensino médio em escolas públicas tem acesso gratuito a todos os nossos materiais.</p>
      <h3>Quem são os monitores?</h3>
      <p>Professores, especialistas em disciplinas, alunos avançados em seus cursos. Quem quiser contribuir, pode ser um monitor.</p>
      <h3>Como tiro minhas dúvidas?</h3>
      <p>Você pode tirar uma foto da sua dúvida, escrever uma mensagem ou perguntar diretamente pro monitor.</p>
    </div>
    <div class="container">
      <div class="wrapper"> <img class="slides" src="/images/port.png"> <img class="slides" src="/images/mat.png"> <img class="slides" src="/images/bio.png"> <img class="slides" src="/images/time.png"> <img class="slides" src="/images/prog.png"> </div>
    </div>
  </div>
</section>
<section class="sessao3 ani2">
  <div class="textoS3">
    <h2>Uma plataforma com o objetivo de te ajudar a completar seus estudos. Seja graduação, técnico ou profissionalizante, nós estamos aqui.</h2>
    <img src="/images/mulhermonitorando.png"></div>
  <div class="cardsContainer">
    <div class="cards ani"><img src="/icons/question.png"><span>Monitores prontos pra tirar suas dúvidas em qualquer lugar. <span>Seja no computador ou no telefone.</span></span></div>
    <div class="cards ani"><img src="/icons/exclamation.png"><span>Linguagem dinâmica e de fácil entendimento,<span> acessível para todos.</span></span></div>
    <div class="cards ani"><img src="/icons/group.png"><span>Receba monitoria individualmente ou faça parte de uma turma, <span>você escolhe.</span></span></div>
    <div class="cards ani"><img src="/icons/HAT.png"><span>Seja um monitor e use as suas horas de monitoria na nossa plataforma como <span>horas extracurriculares.</span></span></div>
    <div class="cards ani"><img src="/icons/chat.png"><span>Participe do nosso fórum, converse com outros estudantes,<span> faça parte da nossa comunidade.</span></span></div>
  </div>
</section>
<footer>
  <div class="footerCentro">
    <div class="contatos"><span>Mapa do site:</span>
      <span><a href="index.html">Home</a></span>
      <span><a href="monitorias.html">Monitorias</a></span>
      <span><a href="tutor.html">Torne-se um Tutor</a></span>
      <span><a href="quem.html">Quem somos</a></span>
      <span><a href="login.html">Login</a></span></div>
    <div class="contatos"><span>CONTATO</span><span>E-mail: monitorando@gmail.com</span><span>Telefone: 11 9 7233-5888</span></div>
    <div class="contatos"><span>SQUAD 24</span>
    <span><a href="https://www.linkedin.com/in/ber-arthur/">Arthur Bernard</a></span>
    <span><a href="https://">Bianca Tayla</a></span>
    <span><a href="https://www.linkedin.com/in/kaua-amelo96/">Kauã Alves</a></span>
    <span><a href="https://www.linkedin.com/in/mariana-moreira-santos-39417828a">Mariana Moreira</a></span>
    <span><a href="https://">Maristela Santos</a></span>
    <span><a href="https://www.linkedin.com/in/nayarabpereira">Nayara Pereira</a></span></div>
    <div class="sociais"><span>SOCIAIS</span>
    <div><a href=""><img src="/icons/icone-facebook-32x32.png"></a><a href=""><img src="/icons/icone-instagram-32x32.png"></a><a href=""><img src="//icons/icone-linkedin-32x32.png"></a></div>
    </div>
  </div>
  <div class="copy">&copy;MONITORANDO. TODOS OS DIREITOS RESERVADOS</div>
</footer>
<script src="/js/fastclick.js"></script> 
<script src="/js/scroll.js"></script> 
<script src="/js/fixed-responsive-nav.js"></script> 
<script src="/js/main.js"></script>
</body>
</html>
