<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Cadastro de Professores</title>
	<!-- Link para o Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/professores}">Listagem de Professores</a>
		<a class="navbar-brand" th:href="@{/turmas}">Listagem de Turmas</a>
	</nav>
	<h2>Cadastro de Professores</h2>
	
		<form th:action="@{/professores/save}" th:object="${professor}" method="post">
			<div class="form-group">
				<label for="nome">Nome:</label>
				<input type="text" id="nome" required class="form-control" th:field="*{profNome}" />
			</div>
			<div class="form-group">
				<label for="email">E-mail:</label>
				<input type="email" id="email" required  class="form-control" th:field="*{profEmail}" />
			</div>
			<div class="form-group">
				<label for="telefone">Telefone:</label>
				<input type="tel" id="telefone" required  class="form-control" th:field="*{profTelefone}" />
			</div>
			<div class="form-group">
				<label for="senha">Senha:</label>
				<input type="password" id="senha" required  class="form-control" th:field="*{profSenha}" />
			</div>
			
			<button type="submit" class="btn btn-primary">Salvar</button>
		</form>

		
	
		

</body>

</html>