<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Quem Somos</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/css/estilos.css">
<link rel="stylesheet" href="/css/quem.css">
<script src="/js/responsive-nav.js"></script> 
<script defer src="/js/app.js"></script>
<link rel="icon" href="/icons/icon-page.png" type="image/x-icon"/>
</head>
<body>
<header> <a href="index.html" class="logo" data-scroll><img class="logoimg" src="/icons/logo.png"><spam>onitorando</spam></a>
  <nav class="nav-collapse">
   <ul>
        <li class="menu-item"><a href="index.html" data-scroll>Home</a></li>
        <li class="menu-item"><a href="monitorias.html" data-scroll>Monitorias</a></li>
        <li class="menu-item"><a href="tutor.html" data-scroll>Torne-se um Tutor</a></li>
        <li class="menu-item active"><a href="quem.html" data-scroll>Quem Somos</a></li>
        <li class="menu-item"><a href="login.html" data-scroll>Login</a></li>
        <li class="menu-item"><a href="crud.html" data-scroll>ADM</a></li>
      </ul>
  </nav>
</header>
<section class="sessao1">
  <div class="bloco1sessao1 ani2">
    <h1>Quem somos ?</h1>
    <br>
    <p>Nós somos apaixonados por aprender e estamos aqui para dar uma mãozinha aos universitários ou técnicos em suas jornadas acadêmicas. Nosso truque é uma plataforma que junta alunos com experts. Assim, você pega o jeito das matérias de verdade e alcança todo o seu potencial.</p>
    <p>Nossos monitores são tipo gênios das disciplinas, sabem tudo na prática. Eles não só manjam pra caramba, mas explicam as coisas difíceis de um jeito fácil e legal. E acreditamos que o aprendizado não precisa ficar só na sala de aula, por isso, oferecemos monitorias flexíveis. Dá pra ter ajuda personalizada onde quer que você esteja.<br>
      <br>
    </p>
  </div>
  <div class="bloco2sessao1 ani2"><img src="/images/turma-estudantes.png"> </div>
</section>
<section class="sessao2">
  <div class="bloco1sessao2 ani2">
    <h1>Nossa missão</h1>
    <p>Estamos aqui para ajudar todos aqueles que estão com dificuldades nos estudos. O que queremos acima de tudo é que você não desista e consiga o seu diploma.</p>
    <p>Seja com monitorias esclarecedoras para as disciplinas mais difíceis ou um papo cabeça pra aprender a lidar com seu grupo, nós estamos aqui pra qualquer bronca.</p>
    <div class="bloco2sessao2"><img src="/images/astronaut-rocket.png"> </div>
  </div>
</section>
<section class="sessao3">
  <h1>O que os nossos alunos estão falando</h1>
  <p>Depoimentos de alunos que conseguiram de alguma forma resolver seus problemas com a nossa ajuda</p>
  <div class="bloco1sessao3 ani2">
    <div class="depoimentos">
      <p class="depoimentos-avatar">Eu sempre tive dificuldades em falar em público e apresentar bem meus projetos. Me inscrevi na turma de oratória e agora a timidez esta cada vez menor!</p>
      <img class="ani" src="/images/maleavatar2.png">
      <p class="namedoavatar">Kauã</p>
    </div>
    <div class="depoimentos ani2">
      <p class="depoimentos-avatar">No início da faculdade eu tive muita dificuldade com a linguagem que os meu professores usavam, um monitor aqui me explicou de uma forma super compreensiva e hoje meu entendimento esta muito melhor.</p>
      <img class="ani" src="/images/maleavatar2.png">
      <p class="namedoavatar">Arthur</p>
    </div>
  </div>
</section>
<footer>
  <div class="footerCentro">
    <div class="contatos"><span>Mapa do site:</span>
      <span><a href="index.html">Home</a></span>
      <span><a href="monitorias.html">Monitorias</a></span>
      <span><a href="tutor.html">Torne-se um Tutor</a></span>
      <span><a href="quem.html">Quem somos</a></span>
      <span><a href="login.html">Login</a></span></div>
    <div class="contatos"><span>CONTATO</span><span>E-mail: monitorando@gmail.com</span><span>Telefone: 11 9 7233-5888</span></div>
    <div class="contatos"><span>SQUAD 24</span>
    <span><a href="https://www.linkedin.com/in/ber-arthur/">Arthur Bernard</a></span>
    <span><a href="https://">Bianca Tayla</a></span>
    <span><a href="https://www.linkedin.com/in/kaua-amelo96/">Kauã Alves</a></span>
    <span><a href="https://www.linkedin.com/in/mariana-moreira-santos-39417828a">Mariana Moreira</a></span>
    <span><a href="https://">Maristela Santos</a></span>
    <span><a href="https://www.linkedin.com/in/nayarabpereira">Nayara Pereira</a></span></div>
    <div class="sociais"><span>SOCIAIS</span>
    <div><a href=""><img src="/icons/icone-facebook-32x32.png"></a><a href=""><img src="/icons/icone-instagram-32x32.png"></a><a href=""><img src="/icons/icone-linkedin-32x32.png"></a></div>
    </div>
  </div>
  <div class="copy">&copy;MONITORANDO. TODOS OS DIREITOS RESERVADOS</div>
</footer>
<script src="/js/login.js"></script> 
<script src="/js/fastclick.js"></script> 
<script src="/js/scroll.js"></script> 
<script src="/js/fixed-responsive-nav.js"></script>
</body>
</html>