<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Torne-se um Tutor</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/css/estilos.css">
<link rel="stylesheet" href="/css/tutor.css">
<script src="/js/responsive-nav.js"></script> 
<script defer src="/js/app.js"></script>
<link rel="icon" href="/icons/icon-page.png" type="image/x-icon"/>
</head>
<body>
<header> <a href="index.html" class="logo" data-scroll><img class="logoimg" src="/icons/logo.png"><spam>onitorando</spam></a>
  <nav class="nav-collapse">
    <ul>
      <li class="menu-item"><a href="index.html" data-scroll>Home</a></li>
      <li class="menu-item"><a href="monitorias.html" data-scroll>Monitorias</a></li>
      <li class="menu-item active"><a href="tutor.html" data-scroll>Torne-se um Tutor</a></li>
      <li class="menu-item"><a href="quem.html" data-scroll>Quem Somos</a></li>
      <li class="menu-item"><a href="login.html" data-scroll>Login</a></li>
      <li class="menu-item"><a href="crud.html" data-scroll>ADM</a></li>
    </ul>
  </nav>
</header>
<section class="sessao1">
  <div class="bloco1sessao1 ani2">
    <div class="bloco">
      <h1 class="h1tutor">Melhore os seus conhecimentos, adquira experiência e ajude quem precisa de ajuda</h1>
      <p class="ptutor">Quer fazer a diferença ajudando outros alunos? Faça parte do nosso time de monitores!Você aprende à medida que ensina, desenvolve habilidades de comunicação e ainda pode usar suas horas de monitoria como extracurriculares.</p>
    </div>
    <img src="/images/tutoread.png"> </div>
</section>
<section class="sessao2">
  <div class="benefits">
    <h1>Por que ser um monitor do Monitorando ?</h1>
    <div class="blocobenefits">
      <div class="cardbenefits ani"> <img src="/images/crescimentopessoal.png" alt="">
        <h2>Crescimento Pessoal:</h2>
        <p>Ser um monitor pode ajudar a construir sua confiança, comunicação e habilidades de liderança.</p>
      </div>
      <div class="cardbenefits ani"> <img src="/images/networking.png" alt="">
        <h2>Networking:</h2>
        <p>Como monitor, você terá a chance de conhecer outros monitores, o que pode levar a conexões valiosas.</p>
      </div>
      <div class="blocobenefits">
        <div class="cardbenefits ani"> <img src="/images/curriculo.png" alt="">
          <h2>Reforço do Currículo:</h2>
          <p>A experiência de ser um monitor pode ser uma adição valiosa ao seu currículo.</p>
        </div>
        <div class="cardbenefits ani"> <img src="/images/exp.png" alt="">
          <h2>Experiência de Ensino:</h2>
          <p>pede adaptação e habilidade para usar diversos métodos ao explicar conceitos complexos.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="footerCentro">
    <div class="contatos"><span>Mapa do site:</span>
      <span><a href="index.html">Home</a></span>
      <span><a href="monitorias.html">Monitorias</a></span>
      <span><a href="tutor.html">Torne-se um Tutor</a></span>
      <span><a href="quem.html">Quem somos</a></span>
      <span><a href="login.html">Login</a></span></div>
    <div class="contatos"><span>CONTATO</span><span>E-mail: monitorando@gmail.com</span><span>Telefone: 11 9 7233-5888</span></div>
    <div class="contatos"><span>SQUAD 24</span>
    <span><a href="https://www.linkedin.com/in/ber-arthur/">Arthur Bernard</a></span>
    <span><a href="https://">Bianca Tayla</a></span>
    <span><a href="https://www.linkedin.com/in/kaua-amelo96/">Kauã Alves</a></span>
    <span><a href="https://www.linkedin.com/in/mariana-moreira-santos-39417828a">Mariana Moreira</a></span>
    <span><a href="https://">Maristela Santos</a></span>
    <span><a href="https://www.linkedin.com/in/nayarabpereira">Nayara Pereira</a></span></div>
    <div class="sociais"><span>SOCIAIS</span>
    <div><a href=""><img src="/icons/icone-facebook-32x32.png"></a><a href=""><img src="/icons/icone-instagram-32x32.png"></a><a href=""><img src="/icons/icone-linkedin-32x32.png"></a></div>
    </div>
  </div>
  <div class="copy">&copy;MONITORANDO. TODOS OS DIREITOS RESERVADOS</div>
</footer>
<script src="/js/fastclick.js"></script> 
<script src="/js/scroll.js"></script> 
<script src="/js/fixed-responsive-nav.js"></script>
</body>
</html>